body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header-black {
    background-color: #1F2937;
}

.black-width {
    margin: 0 auto;
    width: 1000px;
    color: #F9FAF8; 
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}


ul, a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    color: #F9FAF8;
    gap: 20px;
    font-size: 18px;
}

.dark-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-left-section h2 {
    font-size: 48px;
    margin: 0 auto;
}

.dark-left-section p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px 30px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


.info-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.flex-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1000px;
}

figure {
    border: 2px solid rgb(226, 226, 226);
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #e2e2e2a9;
    color: #58616e;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 100px;
    margin-top: 100px;
}

.quote-cont {
    width: 1000px;
    margin: 0 auto;
}

.quote-cont p {
    padding: 0;
    margin: 0;
}

.quote-by {
    text-align: right;
    font-weight: 800;
    font-size: 20px;
    margin: 0;
}

.sign-up-section {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 30px;
    margin: 100px auto 100px;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 20px;
}

.sign-up-section button {
    border: 2px solid #E5E7EB;
}

span {
    font-weight: 900;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
}




