body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header-black {
    background-color: #1F2937;
}

.black-width {
    margin: 0 auto;
    width: 1000px;
    color: #F9FAF8; 
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}


ul, a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    color: #F9FAF8;
    gap: 20px;
    font-size: 18px;
}

.dark-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-left-section h2 {
    font-size: 48px;
    margin: 0 auto;
}

.dark-left-section p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px 30px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}





